<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new User</title>
</head>
<body>
    <h2>Create your id:</h2>
    <form method="POST" action="/user">
        <input placeholder="enter username" name="username" type="text"><br><br>
        <input placeholder="enter email" name="email" type="email"><br><br>
        <input placeholder="enter password" name="password" type="password"><br><br>
        <button>Submit</button>
    </form>
</body>
</html>